span {
    color: red;
    font-size: 10px;
}
form {
    border: black 2px solid;
    background-color: blue;
    margin-right: 600px;
}
button {
    margin-left: 600px;
}
#sub {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}